@import '../../../../styles/variables.scss';


.search__city{

    position: relative;

    &-icon{
        width: 30px;
        height: 36px;
        position: absolute;
        top: 2px;
        left: 8px;
        cursor: pointer;
        color: #000;
    }

    &-input{
        border: 1px solid #000;
        border-radius: 40px;
        height: 42px;
        padding: 8px 0px;
        padding-left: 45px;
        padding-right: 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        width: 300px;
    
        &::placeholder{
            font-size: 18px;
            color: $text-color;
        }
    }
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    column-gap: 10px;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;

    img{
        width: 35px;
        height: 35px;
    }

    margin-bottom: 20px;
}

